<p>
        <a href="{% url "task_type_new" %}">Agregar task_type</a>
    </p>
    
    <ul>
        {% for task_type in object_list %}
            <li>
                <p>{{ task_type.name }}</p>
                <p>
                    <a href="{% url "task_type_detail" task_type.id %}">Ver</a> | 
                    <a href="{% url "task_type_update" task_type.id %}">Editar</a> | 
                    <a href="{% url "task_type_delete" task_type.id %}">Borrar</a> 
                </p>
            </li>
        {% endfor %}
    </ul>