<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   <link href="/static/style.css" rel="stylesheet">
    <title>Hello There</title>
  </head>
  <body>
    <div id="root">
        Hello There, from a template

        <form action="/todos" method="post">
            <label for="task">Your task: </label>
            <input id="task" type="text" name="task" value="{{ task }}">
            <input type="submit" value="CREATE">
            {% csrf_token %}
        </form>
    </div>
</div>
</body>
</html>